In [4]:
import pandas as pd
import matplotlib.pyplot as plt

from datetime import datetime
from IPython.display import display, clear_output
import ipywidgets as widgets

1. Чтение csv-файлов

In [5]:
dataset1 = pd.read_csv(open('datas/dataset_1.csv', 'r', encoding='cp1251'), sep=',', low_memory=False)
dataset2 = pd.read_csv(open('datas/dataset_2.csv', 'r', encoding='cp1251'), sep=',', low_memory=False)
dataset3 = pd.read_csv(open('datas/dataset_3.csv', 'r', encoding='cp1251'), sep=',', low_memory=False)

2. Удаление единиц измерений из таблиц

In [6]:
dataset1.drop(labels=[0], axis =0, inplace=True)
dataset2.drop(labels=[0], axis =0, inplace=True)
dataset3.drop(labels=[0], axis =0, inplace=True)

3. Объедение таблиц

In [7]:
datasets = pd.concat([dataset1, dataset2, dataset3], axis=0)
datasets.drop(['Unnamed: 0', 'Time'], axis=1)

,RIGTIME,HOLEDEPTH,RPMA,BLKPOS,ROPA,HKLA,PRES,DEPTBITM,SPM1,SPM2,SPM3,MFIA,GAS,TORQX,DIFP,WOBX
1,2023-01-11T15:42:35.134Z,288.47,91.73,15.83,0.00,41.85,598.13,285.92,115.92,319.64538026755963,299.17413064390865,456.20,-9999.00,352.06,-295.25,1.15
2,2023-01-11T15:42:39.458Z,288.47,91.84,14.97,0.00,41.60,598.29,286.77,115.92,932.2518703780554,NaN,456.20,-9999.00,300.50,-295.09,1.33
3,2023-01-11T15:42:43.781Z,288.47,91.66,14.47,0.00,41.67,597.01,287.20,115.92,NaN,241.34846135293571,456.20,-9999.00,316.32,-296.37,1.25
4,2023-01-11T15:42:48.101Z,288.47,91.86,14.10,0.00,41.71,598.33,287.61,115.92,NaN,NaN,456.20,-9999.00,330.38,-295.06,1.26
5,2023-01-11T15:42:52.431Z,288.47,91.89,13.88,0.00,41.54,598.62,287.78,115.92,248.97723606068644,543.0641628124889,456.20,-9999.00,347.96,-294.76,1.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95118,NaN,1451.51,0.0,41.7,0.0,8.45,0.0,1451.12,0.0,491.6040087110642,688.977291733401,0.0,-9999.0,877.59,-329.65,0.0
95119,NaN,1451.51,0.0,41.7,0.0,8.47,0.0,1451.12,0.0,NaN,236.17594202525927,0.0,-9999.0,919.19,-329.65,0.0
95120,NaN,1451.51,0.0,41.7,0.0,8.46,0.0,1451.12,0.0,NaN,NaN,0.0,-9999.0,909.23,-329.65,0.0
95121,NaN,1451.51,0.0,41.7,0.0,8.27,0.0,1451.12,0.0,NaN,NaN,0.0,-9999.0,1032.85,-329.65,0.0
95122,NaN,1451.51,5.32,41.7,0.0,8.75,0.0,1451.12,0.0,620.0989646027776,NaN,0.0,-9999.0,2010.68,-329.65,0.0

4. Изменение названия первого столбца на DataTime

In [8]:
datasets.rename(columns={'RIGTIME': 'DateTime'}, inplace=True)

5. Изменение формата столбца "DateTime" в "YYY-mm-dd HH:MM:SS"

In [9]:
datasets['DateTime'] = pd.to_datetime(datasets['DateTime'], format="%Y-%m-%d %H:%M:%S" )

In [10]:
datasets = datasets.sort_values(by='DateTime')

6. Приведение столбцов в формат float

In [11]:
datasets[['HOLEDEPTH', 'RPMA', 'BLKPOS', 'ROPA', 'HKLA', 'PRES', 'DEPTBITM', 'SPM1', 'SPM2', 'SPM3', 'MFIA', 'GAS', 'TORQX', 'DIFP', 'WOBX']]\
= datasets[['HOLEDEPTH', 'RPMA', 'BLKPOS', 'ROPA', 'HKLA', 'PRES', 'DEPTBITM', 'SPM1', 'SPM2', 'SPM3', 'MFIA', 'GAS', 'TORQX', 'DIFP', 'WOBX']]\
.astype(float)

7. Замена пропущенных данных средними значениями для столбца "SPM2", медианными значениями для столбца "SPM3"

In [12]:
datasets['SPM2'] = datasets['SPM2'].fillna(datasets['SPM2'].mean())
datasets['SPM3'] = datasets['SPM3'].fillna(datasets['SPM3'].median())

8. Создание GUI для выбора графика по различным параметрам

In [13]:
def update_plot(change):
    clear_output(wait=True)
    for column in datasets.columns[1:16]:
        if change['new'] == column:
            display(datasets.plot(x="DateTime", y=column))
plot_selector = widgets.ToggleButtons(options=datasets.columns[1:16], description='Plot:')
plot_selector.observe(update_plot, names='value')
display(plot_selector)

ToggleButtons(description='Plot:', options=('HOLEDEPTH', 'RPMA', 'BLKPOS', 'ROPA', 'HKLA', 'PRES', 'DEPTBITM',…

9. Создание нового DataFrame, в котором данные будут распределены по столбцу HOLEDEPTH.

In [14]:
datasets_new = datasets.reindex(columns=['HOLEDEPTH', 'DateTime', 'RPMA', 'BLKPOS', 'ROPA', 'HKLA', 'PRES', 'DEPTBITM', 'SPM1', 'SPM2', 'SPM3', 'MFIA', 'GAS', 'TORQX', 'DIFP', 'WOBX'])

In [15]:
datasets_new.sort_values('HOLEDEPTH')

,HOLEDEPTH,DateTime,RPMA,BLKPOS,ROPA,HKLA,PRES,DEPTBITM,SPM1,SPM2,SPM3,MFIA,GAS,TORQX,DIFP,WOBX
1,288.47,2023-01-11 15:42:35.134000+00:00,91.73,15.83,0.0,41.85,598.13,285.92,115.92,319.645380,299.174131,456.20,-9999.0,352.06,-295.25,1.15
71,288.47,2023-01-11 15:47:19.186000+00:00,0.00,23.60,0.0,41.77,72.22,287.59,47.52,342.854176,410.890447,187.01,-9999.0,960.20,-821.17,1.14
70,288.47,2023-01-11 15:47:14.858000+00:00,0.00,23.60,0.0,43.11,6.12,287.59,43.20,188.711015,482.199945,170.01,-9999.0,958.44,-887.27,0.00
69,288.47,2023-01-11 15:47:10.549000+00:00,0.00,23.60,0.0,43.09,0.00,287.59,0.00,342.854176,608.820512,0.00,-9999.0,961.37,-893.38,0.00
68,288.47,2023-01-11 15:47:06.242000+00:00,0.00,23.60,0.0,43.09,14.42,287.59,0.00,383.204103,936.381455,0.00,-9999.0,962.54,-878.97,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94934,1451.51,NaT,22.86,27.43,0.0,29.35,642.36,1446.56,89.04,754.720466,290.819827,192.25,-9999.0,1349.22,312.71,12.51
94933,1451.51,NaT,22.85,28.63,0.0,29.53,648.09,1445.38,89.28,304.368113,248.887729,192.77,-9999.0,1377.93,318.45,12.85
94932,1451.51,NaT,22.53,29.67,0.0,28.94,647.36,1444.30,89.04,519.290789,290.819827,192.25,-9999.0,1246.69,317.72,12.87
94938,1451.51,NaT,22.48,24.36,0.0,34.19,664.08,1449.52,89.28,342.854176,290.819827,192.77,-9999.0,1532.01,334.43,10.70
95122,1451.51,NaT,5.32,41.70,0.0,8.75,0.00,1451.12,0.00,620.098965,290.819827,0.00,-9999.0,2010.68,-329.65,0.00